<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd" 
	xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/restrant">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="lzk416"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/restrant/entity/Admin.hbm.xml</value>
				<value>com/restrant/entity/Meal.hbm.xml</value>
				<value>com/restrant/entity/Mealseries.hbm.xml</value>
				<value>com/restrant/entity/Orderdts.hbm.xml</value>
				<value>com/restrant/entity/Orders.hbm.xml</value>
				<value>com/restrant/entity/Users.hbm.xml</value></list>
		</property></bean>
		<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager" >
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		<!--定义事务通知，才能启动hibernate的事物  -->
		<tx:advice id="txAdvice" transaction-manager="transactionManage">
			<tx:attributes>
				<tx:method name="*" propagation="REQUIRED"/>
			</tx:attributes>
		</tx:advice>	
		 <!--定义切面，并将事务通知和切面组合（定义哪些方法应用事务规则） -->
	    <aop:config>
	        <!-- 对com.restrant.biz包下的所有类的所有方法都应用事务规则 -->
	    	<aop:pointcut id="bizMethods" expression="execution(* com.restrant.biz.*.*(..))" /> 
	    	<!--  将事务通知和切面组合  通知：txAdvice 事务：bizMrthods --> 
	    	<aop:advisor advice-ref="txAdvice" pointcut-ref="bizMethods" /> 
	    </aop:config>
	    
	    <bean id="mealDAO" class="com.restrant.dao.Impl.MealDAOImpl">
	    	<property name="sessionFactory" ref="sessionFactory"></property>
	    </bean>
	    <bean id="mealBiz" class="com.restrant.biz.Impl.MealBizImpl">
	    	<property name="mealDao" ref="mealDao"></property>
	    </bean>
	    <bean id="MealSeriesBiz" class="com.restrant.biz.Impl.MealSeriesBizImpl">
	    	<property name="mealSeriesDAO" ref="mealSeriesDAO"></property>
	    </bean>
	    <bean name="mealAction" class="com.restrant.action.MealAction" scope="prototype">
	    	<property name="mealBiz" ref="mealBiz"></property>
	    	<property name="mealSeriesBiz" ref="mealSeriesBiz"></property>
	    </bean>
	    <bean name="userDAO" class="com.restrant.dao.Impl.UserDAOImpl">
	    	<property name="sessionFactory" ref="sessionFactory"></property>
	    </bean>
	     <bean name="userBiz" class="com.restrant.biz.Impl.UserBizImpl">
	    	<property name="userDAO" ref="userDAO"></property>
	    </bean>
	    <bean name="userAction" class="com.restrant.action.UserAction" scope="prototype"> 
	    	<property name="userBiz" ref="userBiz"></property>
	    </bean>
	    <bean id="orderDtsDAO" class="com.restrant.dao.Impl.OrderDtsDAOImpl">
	   		<property name="sessionFactory" ref="sessionFactory"></property> 
	    </bean>
	     <bean id="orderDtsBiz" class="com.restrant.biz.Impl.OrderDtsBizImpl">
	   		<property name="orderDtsDao" ref="orderDtsDao"></property> 
	    </bean>
	    <bean name="ordersAction" class="com.restrant.action.OrdersAction">
	    	<property name="orderDtsBiz" ref="orderDtsBiz"></property>
	    </bean>
	</beans>